In [34]:
import pandas as pd
from ast import literal_eval
file_path: str = "data/prepared_sms_data.csv"
text_column: str = "preprocessed_text"

df = pd.read_csv(file_path, converters={"preprocessed_text": literal_eval})
df.head(5)

,label,text,preprocessed_text,is_spam,i_count,to_count,you_count,a_count,the_count,and_count,...,for_count,your_count,me_count,of_count,have_count,on_count,call_count,are_count,that_count,it_count
0,ham,"Go until jurong point, crazy.. Available only ...","[go, until, jurong, point,, crazy.., available...",False,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ham,Ok lar... Joking wif u oni...,"[ok, lar..., joking, wif, u, oni...]",False,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,"[free, entry, in, 2, a, wkly, comp, to, win, f...",True,0,3,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ham,U dun say so early hor... U c already then say...,"[u, dun, say, so, early, hor..., u, c, already...",False,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,ham,"Nah I don't think he goes to usf, he lives aro...","[nah, i, don't, think, he, goes, to, usf,, he,...",False,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
df[text_column] = df[text_column].apply(" ".join)

In [36]:
### Prepare splits
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, test_size=0.2, stratify=df['label'])

In [37]:
train['label'].value_counts()

label
ham     3613
spam     522
Name: count, dtype: int64

In [38]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
Y_train = le.fit_transform(train['label'])
Y_test = le.transform(test['label'])

In [39]:
from sklearn.feature_extraction.text import CountVectorizer

# TODO: add Tfidf vectorizer here, update the following code and compare results later

vec = CountVectorizer()
X_train = vec.fit_transform(train[text_column])
X_test = vec.transform(test[text_column])

In [40]:
# TODO we will take accuracy for the beginning. Which metric would be more suitable and why?

In [41]:
# TODO: What is the baseline for random classification and majority vote?

In [42]:
results = []

def get_name(classifier):
    return type(classifier).__name__

In [43]:
from sklearn.naive_bayes import MultinomialNB

nb_model = MultinomialNB().fit(X_train, Y_train)
score = nb_model.score(X_test, Y_test)

results.append([get_name(nb_model), score, "count_vec"])

In [44]:
from sklearn.tree import DecisionTreeClassifier

# TODO: configure the max depth of the decision tree
dt_model = DecisionTreeClassifier().fit(X_train, Y_train)

In [45]:
score = dt_model.score(X_test, Y_test)
score

0.9584139264990329

In [46]:
# TODO visualize the decision tree (https://scikit-learn.org/stable/modules/generated/sklearn.tree.plot_tree.html)

In [47]:
# train also a random forest classifer and a linear svc
# https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html
# https://scikit-learn.org/stable/modules/generated/sklearn.svm.LinearSVC.html

## All results

In [48]:
result_df = pd.DataFrame(results, columns=["classifer", "accuracy", "vectorizer"])
result_df.sort_values(by=["accuracy"])

       classifer  accuracy vectorizer
0  MultinomialNB  0.982592  count_vec